<?xml version="1.0" encoding="utf-8"?>
<ArrayOfConfigParam xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--General Settings-->
  <ConfigParam>
    <Name>46000</Name>
    <Value>48000</Value>
  </ConfigParam>
  <!--Power Supply Module Settings-->
  <ConfigParam>
    <Name>power_supply_ip</Name>
    <Value>169.254.0.2</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>power_supply_port</Name>
    <Value>8462</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>power_supply_current</Name>
    <Value>5.0</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>power_supply_voltage</Name>
    <Value>12.0</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>power_supply_min_voltage</Name>
    <Value>6.0</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>power_supply_max_voltage</Name>
    <Value>18.0</Value>
  </ConfigParam>
  <!--Camera Module Settings-->
  <ConfigParam>
    <Name>camera_target_framerate</Name>
    <Value>60.0</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>camera_subsampling</Name>
    <Value>0</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>camera_video_cache_size</Name>
    <Value>120</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>camera_video_cache_padding</Name>
    <Value>250</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>camera_error_detection_threshold</Name>
    <Value>0.15</Value>
  </ConfigParam>
  <!--CAN Module Settings-->
  <ConfigParam>
    <!--0: PCAN_USBBUS1; 1: PCAN_USBBUS2 etc... 15:PCAN_USBBUS16-->
    <Name>can_usb_port</Name>
    <Value>1</Value>
  </ConfigParam>
  <!-- 0: 1 MBit/s; 1: 800 kBit/s; 2: 500 kBit/s; 3: 250 kBit/s etc... 13: 5 kBit/s-->
  <ConfigParam>
    <Name>can_baudrate</Name>
    <Value>2</Value>
  </ConfigParam>
  <!--semicolon separated list of message IDs
      only messages with IDs from the list will be traced -->
  <ConfigParam>
    <Name>can_filter_string</Name>
    <Value>226;12F;1D6</Value>
  </ConfigParam>
  <!--CID Hellikeit-->
  <ConfigParam>
    <Name>can_brightness_data</Name>
    <!--<Value>7D;32;7C;FD</Value>-->
    <Value>FE;FE;FE;FD</Value>
  </ConfigParam>
  <!--Combi Config module settings and dfefault SGBDs for different units-->
  <ConfigParam>
    <Name>Kombi</Name>
    <Value>komb_g11</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>kombi_leuchet_job_name</Name>
    <Value>KOMBI_LEUCHTEN_TEST</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>HUD</Name>
    <Value>komb_g11</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>CID</Name>
    <Value>HU_MGU_000_007_dt</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>BDC</Name>
    <Value>BDC_G11</Value>
  </ConfigParam>
  <!--Sleep time Settings-->
  <ConfigParam>
    <Name>MGU18</Name>
    <Value>45000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>MGU21</Name>
    <Value>40000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>MGU22</Name>
    <Value>45000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>IDC23</Name>
    <Value>50000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>NBTEvo</Name>
    <Value>45000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>EntryEvo</Name>
    <Value>46000</Value>
  </ConfigParam>
  <ConfigParam>
    <Name>ICBox</Name>
    <Value>45000</Value>
  </ConfigParam>
</ArrayOfConfigParam>